.errorContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: screen-width;
  height: 100vh;
  margin: 0;
}

.body {
  margin: 0;
}

html,
body {
  margin: 0;
}

.errormessage {
  color: white;
  font-size: 1.5rem;
}

.backtohome {
  color: white;
  font-size: 1.5rem;
  border-width: 1.5rem;
  border-color: white;
  padding: 1.5rem;
}

.errorContainer h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 2rem 0 1rem;
}

.errorContainer p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin: 0;
  padding: 0;
}

.image {
  animation: animate infinite 3.4s alternate ease-in-out;
  transform-origin: 50% 50% 0px;
}

@keyframes animate {
  from {
    transform: translate3d(0px, -50px, 0px) rotate(0deg);
  }

  to {
    transform: translate3d(30px, 10px, 10px) rotate(2deg);
  }
}
